<p id="notice"><%= notice %></p>
<div class = "progress-container">
  <h2>Unlocks: <%= get_unlocks(@heros) %> / <%= get_totals(@heros) %></h2>
  <div class="pbar-container">
    <div class="progress">
      <div class="progress-bar" style=" width:<%=get_ratio(@heros)%>%;"><%=get_ratio(@heros)%>%</div>
    </div>
  </div>
</div>
<div>
  <div class = "table-container">
    <table>
      <%= render(Array(@heros)[0,@heros.length / 6]) %>
    </table>
    <!--<% if Rails.env.development? %>-->
    <!--<%= link_to 'New Hero', new_hero_path %>-->
      <!--<% end %>-->
  </div>
  <div class = "table-container">
    <table>
      <%= render(Array(@heros)[@heros.length / 6,@heros.length / 6]) %>
    </table>
  </div>
  <div class = "table-container">
    <table>
      <%= render(Array(@heros)[2 * (@heros.length / 6),@heros.length / 6]) %>
    </table>
  </div>
  <div class = "table-container">
    <table>
      <%= render(Array(@heros)[3 * (@heros.length / 6),@heros.length / 6]) %>
    </table>
  </div>
  <div class = "table-container">
    <table>
      <%= render(Array(@heros)[4 * (@heros.length / 6),@heros.length / 6]) %>
    </table>
  </div>
  <div class = "table-container">
    <table>
      <%= render(Array(@heros)[5 * (@heros.length / 6),@heros.length / 6]) %>
    </table>
  </div>
</div>