<p id="notice"><%= notice %></p>
<table>
  <tbody>
  <% @ratio.each do |donation| %>
    <tr>
      <td class="image"><%= image_tag(donation.image_url, class: 'list_image') %>
      <td class="pbar">
        <h3>Progress: $<%=donation.progress%> / $<%=donation.total%></h3></br>
        <dl>
          <div class="progress">
            <div class="progress-bar" style="width:<%=calc_ratio(donation)%>%;"><%=calc_ratio(donation)%>%</div>
          </div>
        </dl>
      </td>
      <td class="incentive"></br><h2><%=donation.incentive %></td>
      <% if calc_ratio(donation) >= 100 %>
        <td><%= image_tag("checkmark.png", class: 'checkmark')%></td>
      <%end%>
    </tr>

  <% end %>
  </tbody>
</table>

<br>

<% if Rails.env.development? %>
<%= link_to 'New Donation', new_donation_path %>
<% end %>