<p id="notice"><%= notice %></p>
<div>
  <div class="game_table">
    <table>
      <% @games.each do |game| %>
        <tr>
          <td class="image"><%= image_tag(game.image_url, class: 'list_image') %>
          </td>

            <td class="times">
              <ul>
              <% (Category.where(game_id: game.name)).each do |category| %>
                  <li><a href="//www.youtube.com/embed/<%=category.video_url%>"target="ytplayer"><%= category.cat_name %></a>
                  </br>&nbsp;&nbsp;<font color="red"><%= num_to_time(category.time) %></li></font>
              <% end %>
              </ul>
              </td>
              </tr>
      <% end %>
    </table>
  </div>
  <div class="vod_container">
    <iframe name="ytplayer" allowfullscreen></iframe>
  </div>
</div>
<br>