<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id, id: :category_game_id %>
  </div>

  <div class="field">
    <%= form.label :cat_name %>
    <%= form.text_field :cat_name, id: :category_cat_name %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.number_field :time, id: :category_time %>
  </div>

  <div class="field">
    <%= form.label :video_url %>
    <%= form.text_field :video_url, id: :category_video_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
